header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0px;
  z-index: 999;
  background-color: antiquewhite;
}

.title {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-family: "游明朝体","YuMincho";
}


.half_box {
  display: block;
  width: 50%;
}

.left_side {
  display: block;
  position: fixed;
  top: 100px;
  height: 100vh;
  background-image: url(../img/left_bg.jpg);
}

/* @media screen and (min-width: 1025px) {
  .left_side {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
} */

/* .left_side_text {
  padding-top: 0px;
}

@media screen and (min-width: 1025px) {
  .left_side_text {
    display: flex;
    padding-top: 32px;

  }
} */

.left_side_text p {
  font-size: 50px;
  line-height: 10px;
  padding: 1em 0;
  color: black;
  margin: 0 auto;
}

/* @media screen and (min-width: 1025px) {
  .left_side_text p {
    font-size: 16px;
    padding: 1em;
  }
}

.left_side_text p span {
  background: linear-gradient(transparent 70%, red 100%);
  padding: 0.5em;
} */

button {
  width: 10em;
  height: 2em;
  font-size: 50px;
}


.right_side {
  margin-left: 50%;
  position: absolute;
  top: 200px;
}

.right_side_image {
  width: 75%;
  margin: 8px auto;
}

.right_side_image img {
  width: 100%;
}

.right_side_text {
  margin: 16px 0;
}

.right_side_text p {
  color: red;
  font-size: 24px;
  text-align: center;
}

@media screen and (min-width: 1025px) {
  .right_side_text p {
    font-size: 16px;
  }
}

#post {
  border: solid 1px;
}